.crypto-blue-card {
    background-color: #2B076E;
    color: #fff;
}

.fastest-div h1 {
    margin-bottom: .5rem;
}

.fastest-div p:nth-child(3) {
    font-size: .7rem;
    width: 70%;
    font-weight: 100;
    line-height: 2;
}

.features-section {
    background-color: #2B076E;
}



.save-p-70 {
    background-color: #fff;
    border-radius: 1rem;
    padding: 4px .8rem;
    font-size: .8rem;
    color: #0D0D2B
}

.save-p-div {
    background: rgba(255, 255, 255, 0.1);
    padding: .5rem 0;
    padding-right: .5rem;
    display: flex;
    width: 90%;
    margin-top: 2rem;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.save-p-div p {
    margin: 0;
}

.save-p-div p:nth-child(2) {
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 0.01em;
    font-style: normal;
}

.trade-section {
    background-color: #FBFCFE;
    color: #0D0D2B;
}


.saveimg-div img,
.why-img-div img,
.features-section-card-img-div img,
.numbers-icons-image-div img {
    width: 100%;
}

@media screen and (min-width:1024px) {
    .fastest-div {
        width: 588px;
    }

    .save-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    .save-div h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .saveimg-div {
        /* width: 45%; */
    }

    /*********************** Numbers section****************************************/
    .numbers-section {
        display: flex;
        justify-content: space-between;
        margin-top: 8rem;
        width: 90%;
        max-width: 1000px;
    }

    .numbers-icons-image-div {
        width: 4rem;
        height: 4rem;
    }

    .numbers-figures-div {
        margin-left: 1rem;
    }

    .numbers-figures-div h2 {
        margin-bottom: 8px;
    }

    .numbers-figures-div p {
        margin-top: 0;
        font-size: .8rem;
        font-weight: 100;
    }

    .numbers-icons-div {
        display: flex;
        align-items: center;
    }


    /*********************** Why section****************************************/
    .why-section {
        display: flex;
        align-items: center;
        margin-top: 10rem;
        width: 95%;
        justify-content: space-between;
    }

    .why-choose {
        margin-left: 3rem;
        width: 50%;
    }

    .why-section h3 {
        font-size: 2rem;
        line-height: 150%;
        width: 70%;
        min-width: 400px;
        margin-bottom: .5rem;
    }

    .why-img-div {
        /* width: 48%; */
    }

    .why-choose p {
        width: 56%;
        margin-top: 0;
        margin-bottom: 2rem;
        min-width: 310px;
        font-weight: 100;
        font-size: .8rem;
        line-height: 28px;
        color: #E0E0E0;
    }

    /*********************** Check section****************************************/
    .check-section {
        text-align: center;
        margin-top: 10rem;
    }

    .check-section h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .check-section p {
        font-size: .8rem;
        font-weight: 100;
        color: #E0E0E0;
        max-width: 400px;
        width: 43%;
        line-height: 1.6;
        margin: 0 auto;
    }

    /*********************** Trade section****************************************/


    .trade-section {
        text-align: center;
    }

    .trade-section h4 {
        font-size: 1.5rem;
        width: 50%;
        max-width: 450px;
        margin: 0 auto;
        line-height: 1.5;
        margin-bottom: 3.5rem;
    }

    .trade-securely-div {
        display: flex;
        justify-content: space-evenly;
    }

    .crypto-div {
        padding: 3rem 0;
        border-radius: 10px;
        width: 30%;
        max-width: 300px;
    }

    .crypto-div p {
        font-size: .8rem;
        font-weight: 100;

    }

    .trade-text-p {
        width: 70%;
        margin: 0 auto;
        line-height: 1.8;
        letter-spacing: 0.01em;
    }

    .crypto-div img {
        width: 3rem;
        height: 3rem;
    }

    .trade-currency {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
    }


    /*********************** Features section****************************************/

    .features-section-card {
        display: flex;
        justify-content: space-evenly;
        margin-top: 7rem;
    }

    .features-section-card-reverse {
        flex-direction: row-reverse;
    }

    .features-section-card-text-div {
        /* border: 2px solid red; */
        width: 30%;
        max-width: 340px;
        /* min-width: 400px; */
    }

    .features-section-card-text-div h6 {
        font-weight: 700;
        font-size: 1.9rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .features-section-card-text-div p {
        font-size: .8rem;
        font-weight: 100;
        color: #E0E0E0;
        margin-bottom: 2rem;
    }

    .features-section-card-img-div {
        width: 40%;
    }
}