.crypto-blue-card {
    background-color: #2B076E;
    color: #fff;
}

.crypto-div img {
    width: 3rem;
    height: 3rem;
}

.crypto-white-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.crypto-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 0;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.crypto-div p {
    font-size: .8rem;
    font-weight: 100;

}

.fastest-div h1 {
    margin-bottom: .5rem;
}

.fastest-div p:nth-child(3) {
    font-size: .7rem;
    width: 70%;
    font-weight: 100;
    line-height: 2;
}


.features-section,
.startmining-section {
    background-color: #2B076E;
}

.feaatures-section-card-reverse-div {
    background-image: url("../../../public/images/features-circle-2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22%;
}

.numbers-icons-image-div {
    width: 4rem;
    height: 4rem;
}

.numbers-figures-div {
    margin-left: 1rem;
}

.numbers-figures-div h2 {
    margin-bottom: 8px;
}

.numbers-figures-div p {
    margin-top: 0;
    font-size: .8rem;
    font-weight: 100;
}

.numbers-icons-div {
    display: flex;
    margin-bottom: 1.4rem;
    align-items: center;
}


.save-p-70 {
    background-color: #fff;
    border-radius: 1rem;
    padding: 4px .8rem;
    font-size: .8rem;
    color: #0D0D2B
}

.save-p-div {
    background: rgba(255, 255, 255, 0.1);
    padding: .5rem 0;
    padding-right: .5rem;
    display: flex;
    width: 90%;
    margin-top: 2rem;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.save-p-div p {
    margin: 0;
}

.save-p-div p:nth-child(2) {
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 0.01em;
    font-style: normal;
}

.numbers-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.why-section {
    background: url("../../../public/images/why-model-1.png") right top no-repeat,
        url("../../../public/images/why-model-2.png") right bottom no-repeat;
}

.why-section-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    padding-top: 5rem;
}


.check-section {
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 5rem;
    position: relative;
}

.check-section p {
    font-size: .8rem;
    font-weight: 100;
    color: #E0E0E0;
    max-width: 400px;
    width: 75%;
    line-height: 1.6;
    margin: 0 auto;
}

.trade-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.trade-section {
    background-color: #FBFCFE;
    color: #0D0D2B;
}

.trade-text-button {
    margin-top: 1rem;
}

.trade-text-circlebutton {
    border: 2px solid rgba(43, 7, 110, 0.2);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    border-radius: 50%
}

.saveimg-div img,
.why-img-div img,
.features-section-card-img-div img,
.numbers-icons-image-div img {
    width: 100%;
}

.startmining-section-div {
    margin-top: 3rem;
}

.startmining-input-div input,
.trade-section-hash-rate-form input {
    border: none;
    padding-left: 0;
    padding-bottom: .3rem;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
}

.trade-section-hash-rate-form input {
    border-bottom: 1px solid #E0E0E0;
}

.trade-section-hash-rate-estimated {
    text-align: start;
    margin-top: 2rem;
}


.startmining-input-div input::placeholder {
    color: #fff;
    font-size: .7rem;
}

.startmining-section {
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}

.check-section {
    padding-bottom: 13rem;
}


.trade-section-hash-rate-div {
    background-color: #fff;
    padding: 3rem 2rem 2rem 2rem;
    /* padding-bottom: 2rem; */
    width: 90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
    position: absolute;
    top: -11rem;
    left: 0;
    right: 0;
    margin: auto;
}

.trade-section {
    text-align: center;
    padding-bottom: 4rem;
    position: relative;
    padding-top: 16rem;
}

.trade-section-hash-rate-dropdown {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    background-color: transparent;
}

.trade-section-hash-rate-dropdown p {
    margin-bottom: 0;
    margin-top: 0;
}

.trade-section-estimated-hour {
    color: #3671E9;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
}

.trade-section-estimated-eth {
    color: #0D0D2B;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.trade-section-estimated-eth span {
    color: #3671E9;
}


.trade-section-estimated-revenue {
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 0;
}

.trade-section h4 {
    font-size: 1.3rem;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    line-height: 1.5;
    margin-bottom: 3.5rem;
}

.trade-startmining-button-div {
    /* margin-top: 1.3rem; */
}

.features-section {
    overflow: auto;
}

.features-section-card {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}


.features-section-h5-div {
    margin-top: 4rem;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
}

.features-section h5 {
    font-weight: 700;
    text-align: center;
    font-size: 1.3rem;
    line-height: 150%;
}

.features-section-card-text-div h6 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.features-section-card-text-div p {
    font-size: .8rem;
    font-weight: 100;
    line-height: 22px;
    color: #E0E0E0;
}

.features-section-card-text-div {
    margin-bottom: 1rem;
}

.startmining-section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-image: url("../../../public/images/newsletter-bg.png");
}

.startmining-section-div {
    background:
        url("../../../public/images/newsletter-left.png")left no-repeat,
        url("../../../public/images/bitcoin-bg.png") bottom -20px right 40px no-repeat;
    background-color: #3671E9;
    background-size: auto, 90px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
}


.startmining-text-div h6 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.startmining-text-div p {
    font-size: .8rem;
    font-weight: 100;
}

.startmining-input-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.startmining-input-div input {
    width: 100%;
}




.footer {
    padding-bottom: 3rem;
    text-align: center;
}

.footer-div {
    padding-top: 4rem;
}

.quick-link-div a:hover {
    cursor: pointer;
    color: #2B076E;
}

.quick-link-div {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;

}

.quick-link-div a {
    font-weight: 100;
    color: #E0E0E0;
    font-size: .9rem;
}


.quick-link-div h6 {
    margin-top: .5rem;
    font-size: 1rem;
    margin-bottom: 1.3rem;
    mix-blend-mode: normal;
}

.footer-we-accept h6 {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-we-accept-logos-div {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer-we-accept-logos {
    border-radius: 3px;
    width: 85px;
    height: 60px;
}

.footer-we-accept-logos img {
    width: 100%;
}

.footer-allrights-div p {
    font-size: .8rem;
    font-weight: 100;
}

.footer-fontawesome+.footer-fontawesome {
    margin-left: 1.5rem;
    margin-top: .7rem;
}

@media screen and (min-width:1024px) {
    .fastest-div {
        width: 588px;
    }

    .save-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        background: url("../../../public/images/hero-ribbon-1.png") right bottom no-repeat,
            url("../../../public/images/hero-ribbon-2.png") right bottom no-repeat;
        background-size: 60%;
    }

    .save-div h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    .saveimg-div {
        /* width: 45%; */
    }

    /*********************** Numbers section****************************************/
    .numbers-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-top: 8rem;
        max-width: 1000px;
    }

    /*********************** Why section****************************************/
    .why-section {
        background: url("../../../public/images/why-model-1.png") right top no-repeat,
            url("../../../public/images/why-model-2.png") right bottom no-repeat;
    }

    .why-section-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .why-choose {
        margin-left: 3rem;
        width: 50%;
    }

    .why-section h3 {
        font-size: 2rem;
        line-height: 150%;
        width: 70%;
        min-width: 400px;
        margin-bottom: .5rem;
    }

    .why-img-div {
        /* width: 48%; */
    }

    .why-choose p {
        width: 56%;
        margin-top: 0;
        margin-bottom: 2rem;
        min-width: 310px;
        font-weight: 100;
        font-size: .8rem;
        line-height: 28px;
        color: #E0E0E0;
    }

    /*********************** Check section****************************************/
    .check-section {
        margin-top: 12rem;
        padding-bottom: 10rem;
    }

    .check-section h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    /*********************** Trade section****************************************/
    .trade-section-hash-rate-div {
        width: 60%;
        top: -6rem;
    }

    .trade-section-hash-rate-dropdown {
        width: 20%;
    }

    .trade-section-hash-rate-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .trade-section-hash-rate-form input {
        width: 40%;
    }

    .trade-section-estimated-eth {
        font-size: 2rem;
    }

    .trade-section h4 {
        font-size: 1.5rem;
        width: 50%;
        max-width: 450px;
        margin: 0 auto;
        line-height: 1.5;
        margin-bottom: 3.5rem;
    }

    .trade-securely-div {
        display: flex;
        justify-content: space-evenly;
    }

    .crypto-div {
        width: 30%;
        margin-top: 0;
        max-width: 400px;
    }

    .trade-text-p {
        width: 70%;
        margin: 0 auto;
        line-height: 1.8;
        letter-spacing: 0.01em;
    }





    /*********************** Features section****************************************/
    /*******used to avoid the div from going down when set margin-top to the first element *******/

    .features-section-card {
        display: flex;
        justify-content: space-evenly;
        margin-top: 7rem;
    }

    .features-section-h5-div {
        border: 2px solid red;
        background-repeat: no-repeat;
        background-image: url("../../../public/images/features-circle-1.png");
        width: 65%;
        max-width: 650px;
    }


    .features-section h5 {
        font-size: 2rem;
    }

    .features-section-card-reverse {
        flex-direction: row-reverse;
    }

    .features-section-card-text-div {
        /* border: 2px solid red; */
        width: 30%;
        max-width: 340px;
        /* min-width: 400px; */
    }


    .features-section-card-text-div h6 {
        font-weight: 700;
        font-size: 1.9rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .features-section-card-text-div p {
        line-height: 28px;
        margin-bottom: 2rem;
    }

    .features-section-card-img-div {
        width: 40%;
    }

    /***************************startmining section********************************/
    .startmining-section {
        padding-top: 6rem;
    }

    .startmining-section-div {
        background-size: auto, 100px;
        width: 80%;
        justify-content: space-evenly;
        padding: 2rem 0;
        display: flex;
        align-items: center;
    }

    .startmining-text-div {
        width: 40%;
        max-width: 290px;
    }

    .startmining-input-div {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .startmining-input-div input {
        width: 60%;
    }

    /**********************************Footer section***********************************/

    .footer-div {
        display: flex;
        justify-content: space-between;
    }

    .footer-we-accept {
        width: 40%;
    }

    .quick-link-div {
        margin-top: 0
    }

    .footer-we-accept h6 {
        width: 75%;
        max-width: 300px;
        font-size: 1.6rem;
    }

    .footer-we-accept-logos-div {
        justify-content: flex-start;
    }

    .footer-allrights-div {
        display: flex;
        align-items: center;
        margin-top: 5rem;
        justify-content: space-between;
    }

    .footer-fontawesome+.footer-fontawesome {
        margin-top: 0;
    }
}