 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 html,
 body {
   overflow-x: hidden;
 }

 a {
   text-decoration: none;
 }

 body {
   position: relative;
   margin: 0;
   border: 2px solid red;
   background-color: #0D0D2B;
   color: #FFF;
   font-family: 'Rubik',
     sans-serif;
 }