 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 a {
   text-decoration: none;
 }

 body {
   margin: 0;
   background-color: #0D0D2B;
   color: #FFF;
   font-family: 'Rubik',
     sans-serif;
 }